﻿/* Curves/StandardGrowthPage */
.add_row {
    background: White url(images/add.png) no-repeat;
    cursor: pointer;
    border: none;
    color: transparent;
}

.delete_row {
    background: url(images/delCurve.png) no-repeat;
    cursor: pointer;
    border: none;
    color: transparent;
}

.table-action-deletelink {
    cursor: pointer;
    border: none;
}

table.dataTable tr.row_selected > td > a > div {
    width: 20px;
    height: 20px;
    background: url(images/delCurveBlack.png) no-repeat;
}

table.dataTable tr > td > a > div {
    width: 20px;
    height: 20px;
    background: url(images/delCurve.png) no-repeat;
}
/* Weighins(home page) */
.toshow {
    display: none;
}

#radioUnit > input[type=radio] {
    display: none;
    margin: 10px;
}

input[type=radio] + label {
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    background-color: gray;
    border-color: #ddd;
}

input[type=radio]:checked + label {
    border: none;
    border-radius: 3px;
    background-image: none;
    background-color: #DC0000;
}

div.upload {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    padding: 3px 40px 3px 3px;
    position: relative;
    width: auto;
}

    div.upload:hover {
        opacity: 0.95;
    }

    div.upload input[type="file"] {
        /*display: input-block;*/
        width: 100%;
        height: 30px;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
    }

.uploadButton {
    background-color: #DC0000;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-right: 15px;
    width: auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.fileName {
    font-family: Arial;
    font-size: 14px;
}

.upload + .uploadButton {
    height: 38px;
}

/* Weighing upload progress bar */
.shine span {
    position: relative;
}

    .shine span::after {
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        border-radius: 3px;
        -webkit-animation: animate-shine 4s ease infinite;
        -webkit-animation-duration: 4s;
        -moz-animation: animate-shine 4s ease infinite;
        -ms-animation: animate-shine 4s ease infinite;
        -o-animation: animate-shine 4s ease infinite;
        animation: animate-shine 4s ease infinite;
    }

@-webkit-keyframes animate-shine {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 0;
        width: 95%;
    }
}

@-moz-keyframes animate-shine {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 0;
        width: 95%;
    }
}

@-ms-keyframes animate-shine {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 0;
        width: 95%;
    }
}

@-o-keyframes animate-shine {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 0;
        width: 95%;
    }
}


@keyframes animate-shine {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 0;
        width: 95%;
    }
}

.red-rec {
    background-color: #DC0000;
    display: block;
    border-radius: 3px;
    height: 50px;
    width: 195px;
    vertical-align: central;
    text-align: center;
    opacity: .7;
}

.progresBar {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

/*jqerry ui popup window*/

.ui-front {
    z-index: 9999 !important; /* The default is 100. !important overrides the default. */
}

.ui-widget-overlay {
    z-index: 9998 !important; /* The default is 100. !important overrides the default. */
    opacity: 0.8 !important;
    background-color: #000 !important;
    background: #000000 !important;
}

/*hide close cross in popup window*/
.no-close .ui-dialog-titlebar-close {
    display: none;
}

/* Flock/Current(Closed) loading graph curtain */
#chartcurtain {
    display: none;
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#curtainImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    margin: auto;
}

#chartdiv {
    position: relative;
    width: 100%;
    height: 450px;
}

/*fix datepicker z position*/
#ui-datepicker-div {
    z-index: 1060 !important;
}

/*fix missing cross of jquery ui dialogbox*/
.ui-dialog-titlebar-close {
    background-image: url("images/glyphicons-halflings.png");
    background-position: -311px 1px;
}

a#addPoint {
    position: relative;
    top: -4px;
}

.amExportButton {
    top: 70px;
    right: 40px;
}

/* Scales */
.leftSide {
    float: left;
}

.rightSide {
    float: right;
    margin-top: 22px;
    width: 280px;
}

    .rightSide span {
        color: #DC0000;
        font-size: 18px;
        display: none;
    }

/* UserAccounts/Manage  create/update users*/
#roleTable {
    width: 100%;
}

    #roleTable input[type=checkbox] {
        display: none;
        margin: 10px;
    }

        #roleTable input[type=checkbox] ~ label {
            border: none;
            border-radius: 3px;
            color: white;
            display: inline-block;
            margin: 2px;
            padding: 7px 20px;
            background-color: gray;
            border-color: #ddd;
            width: 180px;
        }

        #roleTable input[type=checkbox]:checked ~ label {
            border: none;
            border-radius: 3px;
            background-image: none;
            background-color: #DC0000;
        }

#roleManagement {
    margin-left: 30px !important;
    width: 150px !important;
}

#editUsers {
    width: 100%;
    background-color: #428bca;
    z-index: 99000;
}

/*datatables header fixed space for sorting icons*/
table.dataTable thead tr th {
    padding-right: 20px;
}

/*bootstrap*/

.container-fluid {
    min-width: 260px;
}

@media (max-width: 979px) {
    #legend {
        display: none;
        /*margin-top: 60px !important;*/
    }

    /*#flock-swipe {
    position: absolute;
    left: 0;
    right: 0;
}*/

    footer {
        display: none;
    }

    .tab-content {
        overflow: hidden;
    }

    body {
        padding-left: 20px;
        padding-bottom: 50px;
        margin: 0 !important;
    }

    [class*="span"],
    .row-fluid [class*="span"] {
        display: block;
        float: none;
        width: auto;
        margin-left: 0;
    }

    .row {
        margin-left: 0;
    }

    .navbar .nav > li > a:hover {
        background-color: #EBE8E8 !important;
    }
}

.navbar .nav > li {
    float: none;
}

    .navbar .nav > li > a {
        text-shadow: none;
        font-weight: normal;
    }

        .navbar .nav > li > a:hover {
            background-color: transparent;
            color: #5D4545;
        }

.navbar-inner {
    padding-left: 0;
    padding-right: 0;
}

.brand {
    background-size: contain !important;
    width: 142px !important;
}

.nav-header {
    color: red !important;
    font-size: 18px;
}

.container .menu {
    background-image: none !important;
    background-color: white !important;
    float: right;
}

.container .brand {
    float: left;
}

.container .menu img {
    background-color: white;
    padding: 0;
}

@media (max-height: 500px) {
    .modal.fade.in {
        bottom: 10px;
        top: auto;
    }
}

@media (max-width: 515px) {
    .modal.fade.in {
        top: 40%;
        position: fixed;
        margin: 0;
    }
}

@media (max-height: 900px) and (max-width: 515px) {
    .modal.fade.in {
        bottom: 10px;
        top: auto;
        position: fixed;
        margin: 0;
    }
}

/*Fix invisible modal window blocking other elements*/

.modal.fade.in {
    z-index: 1050;
}

.modal.fade {
    z-index: -1050;
}

/*Filtering */

.filter-param {
    float: left;
    margin: 5px;
    width: 200px;
}

    .filter-param label {
        width: 20%;
        float: left;
    }

    .filter-param input {
        width: 74%;
        float: left;
    }

    .filter-param select {
        width: 74%;
        float: right;
    }

/*Flocks graph types style*/
ul.graphTypesMenu li {
    background-color: #bdbdbd;
    padding: 5px 10px;
    line-height: 35px;
    cursor: pointer;
}

    ul.graphTypesMenu li a {
        font-size: 18px !important;
    }

/*Change size of logo image*/
.navbar .brand {
    height: 65px;
}

/*Graph point mouse over*/
.dot:hover {
    stroke: rgba(68, 127, 255, 0.3);
}

.flock-legend {
    align-content: center;
    cursor: Pointer;
    width: 246px;
    float: left;
    font-size: 20px;
    /*margin: 2px;*/
    padding: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    .flock-legend.inactive {
        background-color: transparent !important;
    }

#flock-swipe {
    display: block !important;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: Pointer;
    text-align: center;
    background-color: #bbbbbb;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}



#legend {
    padding-top: 0;
}

.flock-marker {
    width: 50px;
    height: 50px;
    background-color: transparent;
    float: left;
}

.tab-content {
    overflow: hidden;
}
/*Change size of logo image*/
.navbar .brand {
    height: 65px;
}

/*DataTables Error message*/
#errorDiv {
    font-weight: bold;
    color: red;
}

tr.row_selected #errorDiv {
    color: white;
}

#createScale {
    width: auto;
}

.graph-tip {
    background-color: lightgray;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
}

#stat-info {
    /*background-color: lightgray;*/
    overflow: auto;
    height: 120px;
    white-space: nowrap;
}

.stat-item {
    display: inline-block;
    /*width: 200px;*/
    height: 70px;
    margin-right: 5px;
}

.stat-table {
    background-color: lightgray;
    border: 2px solid gray;
}

#table-temp {
    display: none;
}

.circle {
    float: right;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 2px;
}

    .circle.red {
        background-color: red;
    }

    .circle.green {
        background-color: green;
    }

.bat2-view-item {
    border: 3px outset lightgray;
    overflow: hidden;
    padding: 5px;
}

.row_selected > .sorting_1 {
    background-color: #dc0000 !important;
}
.bat-config {
    display: table;
    height: 100px;
    width: 150px;
    margin: 10px;
    border: 3px solid black;
    background-color: #f5f5f5;
}

    .bat-config > h3 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
    }

.config-err {
    font-size: 18px;
    color: red;
    font-weight: bold;
    vertical-align: text-top;
}

.disabled {
    opacity: 0.5;
}

.bat-config:not(.disabled):hover {
    border: 3px solid red;
    cursor: pointer;
}

.scaleConfig {
    background-image: url("images/glyphicons-halflings.png");
    background-position: -425px 1px;
    width: 25px;
    height: 15px;
}

button.transparent {
    outline: none;
    background-color: Transparent;
    border: none;
}

.fadeOut {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    /*width: 120px;*/
    padding: 4px;
    background-color: #dc0000;
    color: white;
    border-radius: 8px;
    box-shadow: silver 3px 3px 5px 0px;
    margin: 5px;
    opacity: 0;

}
    .fadeOut.start {
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        opacity: 1;
    }
    .fadeOut.end {
        -webkit-transition: opacity 6s ease-in-out;
        -moz-transition: opacity 6s ease-in-out;
        -ms-transition: opacity 6s ease-in-out;
        -o-transition: opacity 6s ease-in-out;
        opacity: 0;
    }
    .fadeOut.show {
        opacity: 1;
        float: right;
        padding: 3px;
    }
    .fadeOut.show:hover {
         display: block;
        color: white;
        box-shadow: gray 3px 3px 5px 0px;
    }

img.choseCurve {
    width: 24px;
    height: 24px;
    float: right;
    cursor: pointer;
}

select {
    cursor: pointer;
}