﻿p.userAccounts-warning,
label.userAccounts-warning{
	color: #cc0000;
	font-weight: bold;
	border: 2px solid #cc0000;
	padding: 1em;
	border-radius: .5em;
	text-align: center;
}

h3.userAccounts{
	clear: left;
    margin-bottom: 5px;
}

ul.userAccounts-paging > li{
	float: left;
	list-style-type: none;
	margin: 1em;
}

ul.userAccounts > li > form{
	display: inline;
	margin-left: 1em;
}

dl.userAccounts{
	
}
dl.userAccounts > dt{
	display: block;
	float: left;
	clear: left;
	height: 1.75em;
	margin-right: 1em;
    font-weight: normal;
    font-size: 16px;
}
dl.userAccounts > dd{
	display: block;
	height: 1.75em;
    font-size: 16px;
    color:gray;
}

div.userAccounts-account {
	margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
}
.userAccounts-emailAndComments {
    margin-top: 5px;
}

.userAccounts-tabs {
    font-size: 16px;
    list-style: none;
    margin-left: 0px;
}

div.userAccounts-account > form{
	display: inline;
}

div.userAccounts-allUsers ul{
	margin: 0;
}
div.userAccounts-allUsers ul.userAccounts-users > li{
	margin: .5em 0 .5em 0;
}
div.userAccounts-allUsers ul.userAccounts-users > li > span.userAccounts-isOnline{
	display: block;
	font-weight: bold;
	color: #33cc33;
}
div.userAccounts-allUsers ul.userAccounts-users > li > span.userAccounts-isOffline{
	display: block;
	color: #999;
}
div.userAccounts-allUsers ul.userAccounts-users > li > span.userAccounts-email{
	display: block;
	font-size: .8em;
}
div.userAccounts-allUsers ul.userAccounts-users > li > span.userAccounts-comment{
	display: block;
	border: 1px solid #ccc;
	padding: .25em .5em .25em .5em;
	margin: .5em 0 .5em 0;
}

div.userAccounts-allUsers .PagedList-disabled a{
	color: #666;
}
div.userAccounts-allUsers .PagedList-disabled a:hover{
	color: #666;
}

div.userAccounts-allRoles ul > li{
	margin: .5em 0 .5em 0;
}

form.userAccounts-searchForm fieldset,
.userAccounts-allRoles fieldset{
	padding-top: 1.5em;
}
