﻿@using Resources
@model BatApp.Areas.UserAccounts.Models.Account.LoginViewModel

@{
   ViewBag.Title = Resources.LogIn;
}
<div class="row">
   <h2 class="userAccounts">@ViewBag.Title</h2>
   <hr>
   @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
   {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true, Resources.LogInWasUnsuccessful, new {@class = "alert-danger"})
      <div class="control-group">
         @Html.LabelFor(m => m.UserName, new {@class = "control-label"})
         <div class="controls">
            @Html.TextBoxFor(m => m.UserName, new {@class = "input-large"})
            @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "alert-danger"})
         </div>
      </div>
      <div class="control-group">
         @Html.LabelFor(m => m.Password, new {@class = "control-label"})
         <div class="controls">
            @Html.PasswordFor(m => m.Password, new {@class = "input-large"})
            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "alert-danger"})
         </div>
      </div>
      <div class="control-group">
         <div class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
         </div>
      </div>
      <div>
         <input id="submitBtn" type="submit" class="btn" value=@Resources.LogInLabel />
      </div>
   }
</div>