﻿@{
   ViewBag.Title = Resources.Resources.BAT2WEB_GrowthCurves;
}

@section styles
{
   @Styles.Render("~/Content/DataTables-1.10.3/css/bundle")
   @Styles.Render("~/Content/themes/base/themes")
}

<div id="curvesForm">

   <div class="toolbar span4" style="margin-bottom: 15px;">
      <a data-toggle="modal" href="#createCurve">
         <img src='@Url.Content("~/Content/images/newCurve.png")' alt="@Resources.Resources.AddCurveTitle" title="@Resources.Resources.AddCurveTitle" />
      </a>
      <a data-toggle="modal" data-bind="attr: { href: (selectedCurves().length > 0? '#deleteCurves':'#') }">
         <img data-bind=" style: { opacity: selectedCurves().length > 0 ? '1' : '0.5' }" src='@Url.Content("~/Content/images/del.png")' alt="@Resources.Resources.DeleteCurvesTitle" width="36" height="36" title="@Resources.Resources.DeleteCurvesTitle" />
      </a>
   </div>

   <div class="span4" style="clear: both; margin-left: 0">
      <h3 id="CurversTitleLong" style="margin-bottom: 10px;">@Resources.Resources.AvailableCurvesTitle</h3>
      <select id="curveSelector" multiple="multiple" data-bind="
                   options: curves,
                   optionsText: 'name',
                   optionsValue: 'id',
                   selectedOptions: selectedCurves"></select>
   </div>

   <div class="span8">
      <div data-bind="visible: selectedCurves().length == 1" style="margin-bottom: 10px;">
         <h3 style="display: inline;">@Resources.Resources.CurveDataTitle</h3>
         <a id="addPoint" data-toggle="modal" data-target="#addCurvePoint"><img alt="Add curve" src='@Url.Content("~/Content/images/add.png")'></a>
      </div>
      <div data-bind="visible: selectedCurves().length  == 1">
         <table data-bind="visible: selectedCurves().length  == 1" id="growthCurvesTable" class="dataTable">
            <thead>
               <tr>
                  <th>Id</th>
                  <th>@Resources.Resources.DayTableTitle</th>
                  <th>@Resources.Resources.WeightTableTitle</th>
                  <th></th>
               </tr>
            </thead>
            <tbody></tbody>
         </table>
      </div>
   </div>

   <div id="chartdivCurve" data-bind="visible: selectedCurves().length == 1" class="span6" style="height: 450px; width: 80%;"></div>

   @* Modal windows *@
   <div class="modal fade" id="createCurve">
      <form data-bind="submit: createCurve" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.CreateCurveModalTitle</h3>
         </div>
         <div class="modal-body">
            <label class="control-label" for="curveName">@Resources.Resources.CurveNameLabel</label>
            <div class="controls">
               <input id="curveName" name="curveName" type="text" class="input-medium" data-bind="value: curveName, valueUpdate: 'afterkeydown'" />
            </div>
         </div>
         <div class="modal-footer">
            <a class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.CreateCurveButton" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="deleteCurves">
      <form data-bind="submit: deleteCurves" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.DeleteCurvesModalTitle</h3>
         </div>
         <div class="modal-body">
            <span class="alertText">@Resources.Resources.DeleteCurvesWarn</span>
         </div>
         <div class="modal-footer">
            <a class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.DeleteCurvesButton" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="addCurvePoint">
      <form data-bind="submit: addCurvePoint" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.AddCurvePointTitle</h3>
         </div>
         <div class="modal-body">
            <div class="control-group" style="float: left; margin-right: 10px">
               <label class="control-label" for="day">@Resources.Resources.DayTableTitle</label>
               <div class="controls">
                  <input id="day" name="day" type="text" class="input-small" data-bind="value: day,  valueUpdate: 'afterkeydown'" />
               </div>
            </div>
            <div class="control-group" style="float: left">
               <label class="control-label" for="weight">@Resources.Resources.WeightTableTitle</label>
               <div class="controls">
                  <input id="weight" name="weight" type="text" class="input-small" data-bind="value: weight,  valueUpdate: 'afterkeydown'" />
                  <input id="curveId" name="curveId" type="hidden" data-bind="value: selectedCurves()" />
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.AddCurvePointTitle" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="deleteCurvePoint">
      <form data-bind="submit: deleteCurvePoint" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.DeleteCurvePointModalTitle</h3>
         </div>
         <div class="modal-body">
            <span class="alertText">@Resources.Resources.DeleteCurvePointModalText</span>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.DialogNo</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.DialogYes" />
         </div>
      </form>
   </div>

</div>

@section scripts
{
   @Scripts.Render("~/Scripts/DataTables")
   @Scripts.Render("~/Scripts/charts")
   @Scripts.Render("~/Scripts/taphold.js")
   @Scripts.Render("~/Scripts/hammer.min.js")
   @Scripts.Render("~/Scripts/d3/d3.min.js")
   @Html.JsActionScript()
   @Scripts.Render("~/ViewModels/CurvesVM.js")
}