<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <TextView xmlns:tools="http://schemas.android.com/tools"
        android:text="@string/CampaignName"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/textView1"
        android:gravity="center_horizontal"
        android:textSize="22dp"
        tools:text="Jméno kampaně" />
    <EditText
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/campaignNameEditText"
        android:textSize="24dp" />
    <Button xmlns:p2="http://schemas.android.com/tools"
        android:text="@string/CreateNewCampaign"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/startCampaignButton"
        p2:text="Založit kampaň" />
    <Button xmlns:tools="http://schemas.android.com/tools"
        android:text="@string/CampaignPredefName"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/predefinedNameButton"
        tools:text="Použít předdefinované jméno" />
</LinearLayout>