﻿<div id="closedFlocksForm">

   <div class="toolbar">
      <a data-toggle="modal" data-bind="attr: { href: (closedSelectedCount() > 0? '#reopenFlocks':'#') }">
         <img data-bind=" style: { opacity: closedSelectedCount() > 0 ? '1' : '0.5' }" src='@Url.Content("~/Content/images/refresh.png")' alt="@Resources.Resources.ReopenSelectedTitle" width="36" height="36" title="@Resources.Resources.ReopenSelectedTitle" />
      </a>
      <a data-toggle="modal" data-bind="attr: { href: (closedSelectedCount() > 0? '#deleteClosedFlocks':'#') }">
         <img data-bind=" style: { opacity: closedSelectedCount() > 0 ? '1' : '0.5' }" src='@Url.Content("~/Content/images/del.png")' alt="@Resources.Resources.DeleteSelectedTitle" width="36" height="36" title="@Resources.Resources.DeleteSelectedTitle" />
      </a>
   </div>

   <table id="closedFlocksTable" class="dataTable display">
      <thead>
         <tr>
            <th>@Resources.Resources.FlockIdTableTitle</th>
            <th>@Resources.Resources.FlockNameTableTitle</th>
            <th>@Resources.Resources.ScaleIdTableTitle</th>
            <th>@Resources.Resources.StartDateTableTitle</th>
            <th>@Resources.Resources.ClosedDateTableTitle</th>
         </tr>
      </thead>
      <tbody></tbody>
   </table>

   @* Modal windows *@
   <div class="modal fade" id="deleteClosedFlocks">
      <form style="margin-bottom: 0;" data-bind="submit: deleteFlocks">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.DeleteFlocksModalTitle</h3>
         </div>
         <div class="modal-body">
            <span class="alertText">@Resources.Resources.DeleteFlocksWarn</span>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.DeleteFlocksButton" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="reopenFlocks">
      <form style="margin-bottom: 0;" data-bind="submit: reopenFlocks">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.ReopenFlocksModalTitle</h3>
         </div>
         <div class="modal-body">
            <span class="alertText">@Resources.Resources.ReopenFlocksWarn</span>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.ReopenFlocksButton" />
         </div>
      </form>
   </div>

</div>