﻿<div class="control-group">
   <label class="control-label" for="flockName">@Resources.Resources.FlockNameLabel</label>
   <div class="controls">
      <input id="flockName" type="text" data-bind="value: actualFlock().name, valueUpdate: 'afterkeydown'" />
   </div>
</div>

<div style="display: inline">
   <div class="control-group" style="float: left; margin-right: 20px;">
      <label class="control-label" for="cStartDate">@Resources.Resources.StartDateLabel</label>
      <div class="controls">
         <input id="cStartDate" type="text" data-bind="value: actualFlock().startDate, valueUpdate: 'afterkeydown'" class="input-small "/>
      </div>
   </div>
   <div class="control-group" style="float: left">
      <label class="control-label" for="scaleSelector">@Resources.Resources.ScaleLabel</label>

      <div class="controls">
         <div id="scaleSelectContainer">
            <select id="scaleSelector" class="input-small" data-bind="options: ActualFlocksVM.scales,
                   optionsText: 'Name',
                   optionsValue: 'Id',
                   value: actualFlock().scaleid
                   "></select>
            <span style="color: #dc0000; font-weight: bold; font-size: 24px; margin-left: 20px; cursor: pointer" data-bind="click: ActualFlocksVM.createScale">+</span>
         </div>
         <input type="text" id="newScaleName" data-bind="value: actualFlock().newScale, valueUpdate: 'afterkeydown'"/>
      </div>
   </div>
</div>

<div class="control-group" style="clear: both">
   <label class="control-label" for="textarea">@Resources.Resources.NoteLabel</label>
   <div class="controls">
      <textarea id="textarea" data-bind="value: actualFlock().note, valueUpdate: 'afterkeydown'" class="input-xlarge" style="width: 100%" rows="3"></textarea>
   </div>
</div>