﻿<form class="well form-inline">
   <div class="legend">
      <h3>
         @Resources.Resources.FilterLabel
         <a href="#" data-bind="click: ClearFilters">
            <img src='@Url.Content("~/Content/images/clear.png")' alt="@Resources.Resources.FilterTitle" title="@Resources.Resources.FilterTitle" />
         </a>
      </h3>
   </div>
   <div class="filter-param">
      <label>@Resources.Resources.DateFromLabel</label>
      <input id="fromDate" type="text" class="input-medium" data-bind="value: from, valueUpdate: 'afterkeydown'">
   </div>
   <div class="filter-param">
      <label>@Resources.Resources.DateToLabel</label>
      <input id="toDate" type="text" class="input-medium" data-bind="value: to, valueUpdate: 'afterkeydown'">
   </div>
   <div class="filter-param">
      <select id="sexSelection" class="input-medium" data-bind="value:sex">
         <option value="@Resources.Resources.SexOption" selected="selected">@Resources.Resources.SexOption</option>
         <option value="@Resources.Resources.SexMale">@Resources.Resources.SexMale</option>
         <option value="@Resources.Resources.SexFemale">@Resources.Resources.SexFemale</option>
      </select>
   </div>
   <div class="filter-param">
      <select id="flockSelection" class="input-medium"
              data-bind="options: flocks, optionsText: 'name', optionsCaption: '@Resources.Resources.FilterSelectFlock', value: flock"></select>
   </div>
</form>