﻿<div id="graphForm">
   <ul class="graphTypesMenu">
      <li class="selected"><a data-bind="click:ChangeGraphType.bind($data,'Average')" title="@Resources.Resources.AverageMenuItem">@Resources.Resources.AverageMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'Gain')" title="@Resources.Resources.GainMenuItem">@Resources.Resources.GainMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'Count')" title="@Resources.Resources.CountMenuItem">@Resources.Resources.CountMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'Sigma')" title="@Resources.Resources.SigmaMenuItem">@Resources.Resources.SigmaMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'Cv')" title="@Resources.Resources.CvMenuItem">@Resources.Resources.CvMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'Uni')" title="@Resources.Resources.UniMenuItem">@Resources.Resources.UniMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'Temperature')" title="@Resources.Resources.TemperatureMenuItem">@Resources.Resources.TemperatureMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'CarbonDioxide')" title="@Resources.Resources.CarbonDioxideMenuItem">@Resources.Resources.CarbonDioxideMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'Ammonia')" title="@Resources.Resources.AmmoniaMenuItem">@Resources.Resources.AmmoniaMenuItem</a></li>
      <li><a data-bind="click:ChangeGraphType.bind($data,'Humidity')" title="@Resources.Resources.HumidityMenuItem">@Resources.Resources.HumidityMenuItem</a></li>
   </ul>
   <div>
      <div style="clear: both; float: left; margin-right: 50px;">
         <div>
            <label>@Resources.Resources.CompareWith</label>
            <select id="gt-select" data-bind="value: GraphVM.graphType2, event:{'mousewheel DOMMouseScroll':GraphVM.ScrollGraph.bind()}" class="input-medium">
               <option value="">@Resources.Resources.Select</option>
               <option value="Average">@Resources.Resources.AverageMenuItem</option>
               <option value="Gain">@Resources.Resources.GainMenuItem</option>
               <option value="Count">@Resources.Resources.CountMenuItem</option>
               <option value="Sigma">@Resources.Resources.SigmaMenuItem</option>
               <option value="Cv">@Resources.Resources.CvMenuItem</option>
               <option value="Uni">@Resources.Resources.UniMenuItem</option>
               <option value="Temperature">@Resources.Resources.TemperatureMenuItem</option>
               <option value="CarbonDioxide">@Resources.Resources.CarbonDioxideMenuItem</option>
               <option value="Ammonia">@Resources.Resources.AmmoniaMenuItem</option>
               <option value="Humidity">@Resources.Resources.HumidityMenuItem</option>
            </select>
         </div>
         <div id="curveSelection" data-bind="visible: GraphVM.graphType() === 'Average'" class="control-group">
            <label>@Resources.Resources.StandardGrowthCurveLabel</label>
            <div class="controls">
               <select id="gc-select" class="input-medium" data-bind="options: GraphVM.curves,optionsText: 'name',optionsValue: 'id',value: GraphVM.curveId,optionsCaption: '@Resources.Resources.SelectCurve', event:{'mousewheel DOMMouseScroll':GraphVM.ScrollCurve.bind()}"></select>
            </div>
         </div>
      </div>
      <div id="stat-info">
         <table id="table-temp" class='stat-table'>
            <tr><td></td><td><b>{name}</b></td></tr>
            <tr><td>@Resources.Resources.LastWeighing</td><td>{date}</td></tr>
            <tr><td>@Resources.Resources.DayTableTitle</td><td>{day}</td></tr>
            <tr><td>@Resources.Resources.WeightTableTitle</td><td>{weight}</td></tr>
            <tr><td>@Resources.Resources.UniformityTableTitle</td><td>{uni}</td></tr>
         </table>
      </div>
   </div>
   <div id="chartdiv"></div>
   <div class="legend-nav" data-bind="event:{'mousewheel DOMMouseScroll':GraphVM.ScrollFlock.bind()}">
      <div id="flock-swipe">
         <div class="flock-marker">
         </div>
         <div id="flock-text"><img src="~/Content/images/swipe.png" height="40" /></div>
      </div>
      <div id="legend">
      </div>
   </div>
</div>
