﻿@{
   ViewBag.Title = Resources.Resources.BAT2WEB_CurrentFlocks;
}
@section styles
{
   @Styles.Render("~/Content/DataTables-1.10.3/css/bundle")
   @Styles.Render("~/Content/themes/base/themes")
}

<div id="actualFlocksPage">
   <div class="actionbar">
      <a data-toggle="collapse" data-target="#filterBar">
         <img src='@Url.Content("~/Content/images/filter.png")' alt="@Resources.Resources.FilterTitle" title="@Resources.Resources.FilterTitle" />
      </a>
      <a id="exportData" href="#" style="text-align: right; float: right;">
         <img src='@Url.Content("~/Content/images/save.png")' alt="@Resources.Resources.ExportTitle" title="@Resources.Resources.ExportTitle"/>
      </a>
      <a id="exportGraph" href="#" data-bind="click: ExportGraph.bind()" style="text-align: right; float: right;display: none">
         <img src='@Url.Content("~/Content/images/save.png")' alt="@Resources.Resources.ExportTitle" title="@Resources.Resources.ExportTitle" />
      </a>
   </div>

   <div id="filterBar" class="collapse">
      @Html.Partial("_FilterView")
   </div>

   <div id="tabs">
      <ul class="submenu" id="myTab">
         <li class="active" id="selectedStat"><a href="#stat" data-bind="click:Show.bind($data,'stat')">@Resources.Resources.StatisticsTitle</a></li>
         <li id="selectedGraph"><a href="#graph" data-bind="click:Show.bind($data,'graph')">@Resources.Resources.GraphTitle</a></li>
      </ul>
      <div class="tab-content" id="statPart">
         <div class="tab-pane active" id="stat">
            @Html.Partial("_StatisticsView")
         </div>
         <div class="tab-pane" id="graph">
            @Html.Partial("_GraphView")
         </div>
      </div>
   </div>
</div>

@section scripts
{
   @Scripts.Render("~/Scripts/DataTables")
   @Scripts.Render("~/Scripts/export/xlsx/xlsx.core.min.js")
   @Scripts.Render("~/Scripts/export/file/FileSaver.min.js")
   @*@Scripts.Render("~/Scripts/charts")*@
   @Scripts.Render("~/Scripts/hammer.min.js")
   @Scripts.Render("~/Scripts/d3/d3.min.js")
   @Scripts.Render("~/Scripts/d3/d3.export-image.js")
   @Html.JsActionScript()
   @Scripts.Render("~/ViewModels/FilterVM.js")
   @Scripts.Render("~/ViewModels/StatisticsVM.js")
   @Scripts.Render("~/ViewModels/ActualStatDataVM.js")
   @Scripts.Render("~/ViewModels/GraphVM.js")
}