﻿<form class="well form-inline">
   <div class="legend">
      <h3>
         @Resources.Resources.FilterLabel
         <a href="#" data-bind="click: clearFilters">
            <img src='@Url.Content("~/Content/images/clear.png")' alt="@Resources.Resources.FilterTitle" title="@Resources.Resources.FilterTitle" />
         </a>
      </h3>
   </div>
   <div class="filter-param">
      <label>@Resources.Resources.DateFromLabel</label>
      <input id="fromDate" type="text" class="input-medium" data-bind="value: from, valueUpdate: 'afterkeydown'">
   </div>
   <div class="filter-param">
      <label>@Resources.Resources.DateToLabel</label>
      <input id="toDate" type="text" class="input-medium" data-bind="value: to, valueUpdate: 'afterkeydown'">
   </div>
   <div class="filter-param">
      <select id="sexSelection" class="input-medium">
         <option selected="selected">@Resources.Resources.SexOption</option>
         <option>@Resources.Resources.SexMale</option>
         <option>@Resources.Resources.SexFemale</option>
      </select>
   </div>
   <div class="filter-param">
      <select id="scaleSelection" class="input-medium"
              data-bind="options: scales, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '@Resources.Resources.FilterSelectScale', value: scaleId"
              ></select>
   </div>
</form>