﻿<div class="bat2-view-item" data-bind="with: config">
   <table>
      <tr>
         <td style="width: 160px">
            @Resources.Resources.Bat2Speed:
         </td>
         <td>
            <select data-bind="value:Rs485.Speed" style="width: 90px">
               <option value="1200">1200</option>
               <option value="2400">2400</option>
               <option value="4800">4800</option>
               <option value="9600">9600</option>
               <option value="19200">19200</option>
               <option value="38400">38400</option>
               <option value="57600">57600</option>
               <option value="115200">115200</option>
            </select>
            Bd
         </td>

      </tr>
      <tr>
         <td>@Resources.Resources.Bat2Parity:</td>
         <td style="border: 1px solid gray">
            <div style="margin: 5px">
               <div style="float: left">
                  <div>
                     <input value="0" data-bind="checked: $parent.rs485Parity" name="parity" type="radio" />8-n-1
                  </div>
                  <div>
                     <input value="1" data-bind="checked: $parent.rs485Parity" name="parity" type="radio" />8-o-1
                  </div>
               </div>
               <div style="float: right">
                  <div>
                     <input value="2" data-bind="checked: $parent.rs485Parity" name="parity" type="radio" />8-e-1
                  </div>
                  <div>
                     <input value="3" data-bind="checked: $parent.rs485Parity" name="parity" type="radio" />8-n-2
                  </div>
               </div>
            </div>
         </td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2Protocol:</td>
         <td style="border: 1px solid gray">
            <div style="margin: 5px">
               <input value="0" data-bind="checked: $parent.rs485Protocol" name="protocol" type="radio" /> MODBUS RTU
               <br />
               <input value="1" data-bind="checked: $parent.rs485Protocol" name="protocol" type="radio" /> MODBUS ASCII
            </div>
         </td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2ReplyDelay:</td>
         <td>
            <input data-bind="value:Rs485.ReplyDelay" type="number" style="width: 70px; margin-top:9px" /> ms
         </td>
      </tr>
      <tr>
         <td>@Resources.Resources.Bat2SilentInterval:</td>
         <td>
            <input data-bind="value:Rs485.SilentInterval" type="number" style="width: 70px" /> ms
         </td>
      </tr>
   </table>
</div>


